* {
  box-sizing: border-box;
}

.App 
{ 
  text-align: center;
  border: 1px solid black;
  max-width: 25vw;
  min-width: 25vw;
  min-height: 30vh;
  margin: 5% 40%;
  background-color: #fff;
}

header 
{
  background-color: aqua;
  justify-items: left;
}

#span 
{
  display: block;
}